@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

* {
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --text-primary: #c9d4e3;
  --text-secondary: #7a91b1;
  --badge-bg: #0b162a;
  --project-bg: #071220;
  --bg: #03080f;

}

body {
  font-family: "Geist", serif;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text-primary);
}

.container {
  justify-self: center;
  width: 80rem;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

@media only screen and (max-width: 992px) {
  .container {
    flex-direction: column !important;
  }
  .left-column {
    width: 100% !important;
    position: relative !important;
    height: auto !important;
  }

  .right-column {
    width: 100% !important;
  }

  .container {
    width: 80% !important;
  }
}

.left-column {
  width: 50%;
  flex-shrink: 0;
  overflow: hidden;
  position: sticky; /* Add this line */
  top: 0; /* Add this line */
  left: 0; /* Add this line */
  height: 100vh;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade-in 1s;
}

.right-column {
  padding-top: 4rem;
  flex-grow: 1;
}

#me {
  height: 14rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-bottom: 1rem;
  overflow: hidden;
  object-fit: cover;
  background-color: var(--project-bg);
}

#name {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}

#title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

#job {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

#bio {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  text-align: center;
  width: 60%;
  color: var(--text-secondary);
  line-height: 1.5;
}

#social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.social-link {
  height: 3rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link svg {
  height: 90%;
  width: 90%;
  color: var(--text-primary);
  transition: color 0.3s;
}

.social-link:hover svg {
  color: white;
  cursor: pointer;
}

.project {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background 0.3s;
  animation: fade-in 1s;
  transition: opacity 0.3s;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.education {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background 0.3s;
}

.education-major {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
  color: var(--text-secondary);
  white-space: pre-line;
}

.job {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background 0.3s;
  animation: fade-in 1s;
}

.job-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.job-header p {
  white-space: pre-line;
}

.job-stack {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}

.job-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.project h2 {
  font-size: 1.5rem;
  font-weight: 700;  
}

.project-image-container {
  flex-basis: 33%;
  border-radius: 0.5rem;
}

.project-content {
  flex-basis: 66%;
}

.project img {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: stretch;
  border-radius: 0.5rem;
}

.education img {
  aspect-ratio: 1/1;
  width: 5rem;
  object-fit: cover;
}

.project-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
  transition: all .3s;
}

.project:hover {
  cursor: pointer;
  background: var(--project-bg);
  opacity: 1 !important;
}

div:has(> .project:hover) .project {
  opacity: 0.5;
}

.project-icon {
  transition: all .3s;
}

.project:hover .project-icon {
  padding-left: .25rem;
  padding-bottom: .25rem;
}

.more-link {
  animation: fade-in 1s;
}

.more-link svg {
  transition: all .3s;
}

.more-link:hover svg {
  padding-left: .25rem;
  padding-bottom: .25rem;
}

.project-stack {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}

.stack-item {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--badge-bg);
  color: var(--text-secondary);
}

.project-description {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  color: var(--text-secondary);
}

.job-description {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  color: var(--text-secondary);
}

.more-link {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 4rem;
  font-size: 1rem;
  margin-left: 1rem;
  color: var(--text-secondary);
  gap: 0.5rem;
  align-items: center;
}

.more-link:hover {
  cursor: pointer;
  color: var(--text-primary);
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #FFF;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  right: 0;
  background: #FFF;
  transform: translate(50%, 100%);
}

@keyframes rotation {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
} 

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

#tsparticles {
  animation-delay: 3s;
  animation: fade-in 5s;
}